@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');



@import url(header.css);
@import url(main.css);
@import url(sabores.css);
@import url(campanha.css);
@import url(time.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    width: 100%;
    background-color: #EEEEEE;
}
