/* Estilos para o header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    z-index: 999;
    transition: 0.5s ease;
}

/* Estilos para os itens de navegação */
header .navegation .navegation-itens a {
    text-decoration: none;
    font-family: "Murecho", sans-serif;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-right: 40px;
    transition: 0.3s ease;
    position: relative; /* Adicionado para posicionamento do pseudo-elemento */
}

/* Estilos para o pseudo-elemento da linha */
header .navegation .navegation-itens a::before {
    content: "";
    position: absolute;
    background: #FFF;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

/* Estilos para o pseudo-elemento da linha ao passar o mouse */
header .navegation .navegation-itens a:hover::before {
    width: 100%;
}

/* Estilos para a imagem do header */
header > img {
    width: 90px;
    height: 90px;
    margin-top: 10px;
}
