
.main-description{
    padding-top: 100px;
}


/* Estilos para o texto na main */
main .main-description p {
    color: #FFF;
    font-family: Murecho;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 25px;
    position: relative; /* Adicionado position para controlar o z-index */
    z-index: 1; /* Coloca o texto sobre a imagem */
}

/* Estilos para o botão na main */
main .main-description a {
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    position: relative; /* Adicionado position para controlar o z-index */
    z-index: 1; /* Coloca o botão sobre a imagem */
    margin-left: 70px;
    margin-right: 70px;
}