@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');

.body{
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
}
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 800px;
    height: 400px;
  
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: white;
    border-radius: 50px;
    box-shadow: 15px 15px 50px 0px rgba(0, 0, 0, 0.25);
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: white;
    border-radius: 50px;
    box-shadow: 15px 15px 50px 0px rgba(0, 0, 0, 0.25);
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: white;
    border-radius: 50px;
    box-shadow: 15px 15px 50px 0px rgba(0, 0, 0, 0.25);
 
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: white;
    border-radius: 50px;
    box-shadow: 15px 15px 50px 0px rgba(0, 0, 0, 0.25);
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: white;
    border-radius: 50px;
    box-shadow: 15px 15px 50px 0px rgba(0, 0, 0, 0.25);
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
.hero {
    display: flex;
    height: 100%;
    width: 100%;   
}

.hero-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero-container img{
    width: 300px;
    height: 300px;
    box-shadow: 6px 22px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.hero-description{
    padding-bottom: 125px;
}

.hero-text h1{
    color:  #000;
    font-family: Murecho;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  
}

.hero-text p{
    color: var(--Black, #000);
    font-family: Murecho;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    width: 267px;
}






.question-panel {
    display: flex;
    width: 230px;
    height: 26px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid  #000;
    background:  #000;
    color: white;
    margin-top: 10px;
    font-family: Murecho;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.response-panel {
    width: 100%;
    background-color: #E4E4E4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.response-panel h1{
    color: #000;
    text-align: center;
    font-family: Murecho;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description_panel > p{
    color: #000;
    text-align: center;
    font-family: Murecho;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.question-panel:after {
    content: '\25B6'; /* Adiciona o símbolo "▶" após o texto do botão */
    color: black; /* Cor do símbolo "▶" */
    font-weight: bold; /* Define a fonte como negrito */
    float: right; /* Alinha o símbolo "▶" à direita */
    margin-left: 5px; /* Adiciona margem à esquerda do símbolo "▶" */
    transition: transform 0.5s ease; /* Adiciona uma transição mais lenta para a transformação */
}

.active:after {
    content: "\25BC"; /* Altera o símbolo "▶" para "▼" quando o botão está ativo (aberto) */
    transform: rotate(180deg); /* Gira o símbolo "▶" 180 graus (para baixo) */
}


.response-panel{
    text-align: center;
}

.description_panel{
    border: 1px solid #7E134F;
    width: 110px;
    height: 60px;
    border-radius: 10px;
}
.retan-panel{
    align-items: center;
    width: 110px;
    height: 20px;
    border-radius: 9px 9px 0px 0px;
}
.retan-panel > p{
    color: #000;
    text-align: center;
    font-family: Murecho;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text_panel{
    text-align: center;
}
.text_panel > p{
    color: #000;
    font-family: Murecho;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}